# Dependencies
node_modules
.pnpm-debug.log*

# Env
.env
.env.local
.env.production

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.vercel
.env*.local
